<div class="container">
    <div class="jumbotron text-center py-2">

        <h1 class="display-4 col">CairmodWeb</h1>

        <p class="lead">Une promenade dans les monuments de la ville du Caire à l'époque moderne.</p>

        <hr class="my-4">

        <div id="images" class="container">
          <div class="row justify-content-center">
            <div class="col-md-auto p-1">
              <img class="border border-secondary" src="assets/apercu_visualisation.png" alt="Visualiser" height="280em">
              <p class="text-muted small">Visualisation d'objets requêtés</p>
            </div>
            <div class="col-md-auto p-1">
              <img class="border border-secondary" src="assets/apercu_comparaison.png" alt="Comparer" height="280em">
              <p class="text-muted small">Comparaison de deux cartes</p>
            </div>
            <div class="col-md-auto p-1">
              <img class="border border-secondary" src="assets/photo_information.jpg" alt="S'informer" height="280em">
              <p class="text-muted small">Détails de l'album Karkégi - BnF</p>
            </div>
          </div>
        </div>

        <div class="container my-4 px-4">
            <h5 class="text-center">
                CairmodWeb propose un module de requête des objets du Caire Moderne associé au projet <a href="https://invisu.cnrs.fr/project/geo-visualisation-de-contenus-de-la-perseide-athar-le-cas-du-caire-moderne/">CAIRMOD</a> ainsi qu'un module de comparaison de carte historique du Caire Moderne.
            </h5>
        </div>

        <div class="container py-4">
            <div class="row justify-content-center">
    
                <div class="col-2">
                    <a class="btn btn-secondary btn-lg"
                        routerLink="/visualisation">Visualiser</a>
                </div>
    
                <div class="col-2">
                    <a class="btn btn-secondary btn-lg"
                        routerLink="/comparaison">Comparer</a>
                </div>
    
                <div class="col-2">
                    <a class="btn btn-secondary btn-lg"
                        routerLink="/information">S'informer</a>
                </div>
            </div>
        </div>
        <a class="btn btn-secondary btn-lg" href="assets/userGuide.pdf" download="guide.pdf">Télécharger le guide utilisateur</a>
        
    </div>

</div>

<cairmodweb-footer></cairmodweb-footer>