/* Code providing by @ardhi : https://github.com/ardhi/Leaflet.MousePosition.git */

.leaflet-container .leaflet-control-mouseposition {
    background-color: rgba(0, 255, 255, 0.7);
    box-shadow: 0 0 5px #bbb;
    padding: 0 5px;
    margin:0;
    color: #333;
    font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  }