/* You can add pop-up -which is created in the map service- styles to this file */

/* ----- OVERRIDE LEAFLET POP-UP PROPERTIES ----- */
#leaflet-popup{
	border-radius: unset !important;
}
.leaflet-popup-content{
	margin: 0 !important;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
	border-radius: unset !important;
}


/* ----- SET POP PROPERTIES ----- */
#popUp{
	max-width: 250px;
	margin: 15px;
	background-color: #c0c0c061;	
}
#popUpHeader{
	background-color: #942900 !important;
}
#popUpHeader h5{
	text-align: center;
	color: white;
	padding: 15px;
	margin-bottom: auto !important;
	font-size: 17px !important;
}
#popUpContent{
	padding: 20px 10px;
}
.containerTbnlImage{
	margin: 20px auto;
}
.tbnlImage{
	max-width:100%;
	max-height:100%;
	width: 100%;
}
#containerImages[nbImg="2"] .containerTbnlImage:first-child{
	margin-top: 0;
}
#containerImages[nbImg="2"] .containerTbnlImage:last-child{
	margin-bottom: 0;
}
#containerImages[nbImg="1"] .containerTbnlImage{
	margin-top: 0;
	margin-bottom: 0;
}
#headerImgs img{
	height: 30px;
	border-radius: 5px;
	margin: 10px 10px auto;
}
#headerImgs div{
	padding-left: 10px;
}
#headerImgs div p{
	font-weight: bold;
	margin: 10px 0;
}
#headerImgs{
	border-top: solid #942900 2px;
}
#perseeLink{
	background-color: transparent;
	font-size: 13px;
	color: #6c757d;
	font-weight: bold;
}
#perseeLink:hover{
	background-color: #6c757d;
	color: white;
}
#perseeLink img{
	height: 20px;
	margin-right: 10px;
}
.my-spinner{
	text-align: center !important;
    display: block !important;
    margin: auto !important;
}
