.btn-keyword {
    color: #5a6268;
    border-color: #5a6268;
}

.btn-keyword:hover {
    color: var(--cairmod-color);
    border-color:var(--cairmod-color);
}

.btn-accordion:focus {
    box-shadow: none;
}