<ng-container>
	<div class="card h-100">

		<div class="card-header pl-2" style="background-color: white;">
			<h5 class="m-0 text-muted">
				Effectuer une requête :
			</h5>
		</div>

		<div class="card-body h-100 p-2" *ngIf="!queryService.initDataloaded">Chargement en cours <span class="spinner-border spinner-border-sm text-secondary ml-2" data-dismiss="alert"></span></div>

		<div class="card-body h-100 p-0" style="overflow-y: auto;" *ngIf="queryService.initDataloaded">
			<form id="request-form" class="h-100" name="request_form" [formGroup]="requestForm">

				<!-- Keyword query -->
				<div class="accordion" id="queryKeyword">
					<div class="card">
						<div class="card-header py-0 " id="headingKeyword">
							<h2 class="mb-0 px-1 row justify-content-between">
								<button id="buttonCollapseKeyword" class="col-md-auto btn btn-accordion" type="button" data-toggle="collapse"
									data-target="#collapseKeyword" aria-expanded="true" aria-controls="collapseKeyword" (click)="clickRequestType($event)">
									Par mots-clés
								</button>
								<span class="col-2 py-2" style="font-size:15px">
									<fa-icon [icon]="angleIcon" size='lg' transform='rotate-{{faIconRotationCollapsed.buttonCollapseKeyword}}'></fa-icon>
								</span>
							</h2>
						</div>
						<div id="collapseKeyword" class="collapse show" aria-labelledby="headingKeyword"
							data-parent="#queryKeyword">
							<div class="card-body py-1 px-2">
								<small class="text-muted">Vous pouvez effectuer une recherche à partir d'un ou plusieurs
									mots-clés.</small>
								<div class="form-group mb-0 px-3 pt-3">
									<!-- <label for="motcle" class="">
										Ajouter un mot-clé :
									</label> -->
									<div class="row justify-content-between">
										<input type="text" name="motscles"
											class="form-control col-10 form-control-sm ml-2" placeholder="mot-clé"
											formControlName="keyword" (keyup)="inputKeyword()">

										<button type="button" class="col-1 px-0 btn btn-sm mr-1"
											title="Valider le mot-clé"
											[ngClass]="{'btn-outline-secondary': btnAddKeywordDisable, 'btn-secondary': !btnAddKeywordDisable}"
											[disabled]="btnAddKeywordDisable" (click)="addKeyword()">
											<fa-icon [icon]="plusIcon"></fa-icon>
										</button>

									</div>

									<div class="row justify-content-center">
										<small [ngStyle]="{'visibility': errorInvalidKeyword ? 'visible' : 'hidden' }"
											id="invalid_keyword" class="col-11 form-text p-0" style="color: #942900">
											Seules les lettres majuscules ou minuscules sont acceptées.
										</small>
									</div>
								</div>

								<hr class="my-2">

								<div class="px-2 pb-2">
									<p class="mb-1">Mots-clés validés : {{keywords.length}}</p>
									<div class="row px-3">
										<ng-container *ngFor="let kw of keywords; let iKw = index">
											<button (click)="deleteKeyword(iKw)"
												class="col-md-auto mr-1 mt-1 btn btn-sm btn-keyword"
												title="Supprimer le mot-clé">
												{{ kw }} <span>
													<fa-icon [icon]="crossIcon"></fa-icon>
												</span>
											</button>
										</ng-container>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- Date query -->
				<div class="accordion" id="queryDate">
					<div class="card">
						<div class="card-header py-0" id="headingDate">
							<h2 class="mb-0 px-1 row justify-content-between">
								<button id="buttonCollapseDate" class="col-md-auto btn btn-accordion" type="button" data-toggle="collapse"
									data-target="#collapseDate" aria-expanded="true" aria-controls="collapseDate" (click)="clickRequestType($event)">
									Par date
								</button>
								<span class="col-2 py-2" style="font-size:15px">
									<fa-icon [icon]="angleIcon" size='lg' transform='rotate-{{faIconRotationCollapsed.buttonCollapseDate}}'></fa-icon>
								</span>
							</h2>
						</div>
						<div id="collapseDate" class="collapse" aria-labelledby="headingDate" data-parent="#queryDate">
							<div class="card-body py-1 px-2">
								<small class="text-muted">Vous pouvez effectuer une recherche par date.</small>

								<!-- Checkboxes -->
								<div class="form-group row justify-content-center my-1 px-3">
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="date_disable" value="disable" name="date_selection_type"
											formControlName="date_selection_type"  (change)="resetDate()" class="custom-control-input">
										<label class="custom-control-label" for="date_disable">Désactivée</label>
									</div>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="date_before" value="before" name="date_selection_type"
											formControlName="date_selection_type" (change)="resetDate()"
											class="custom-control-input">
										<label class="custom-control-label" for="date_before">Avant</label>
									</div>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="date_after" value="after" name="date_selection_type"
											formControlName="date_selection_type" (change)="resetDate()" class="custom-control-input">
										<label class="custom-control-label" for="date_after">A partir de</label>
									</div>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="date_between" value="between" name="date_selection_type"
											formControlName="date_selection_type" (change)="resetDate()" class="custom-control-input">
										<label class="custom-control-label" for="date_between">Entre</label>
									</div>
								</div>

								<!-- Inputs date -->
								<div>
									<ng-container *ngIf="date_selection_type == 'before'">
										<div class="form-group row px-2">
											<label for="stop_date" class="col-sm-7 col-form-label col-form-label pr-0">
												Rechercher avant :
											</label>
											<div class="col-sm-4">
												<input type="number" name="stop_date"
													class="form-control form-control-sm" min="{{dateExtremum[0]}}" max="{{dateExtremum[1]}}"
													placeholder="----" (change)="isDateValid()" formControlName="stop_date">
											</div>
										</div>
									</ng-container>
									<ng-container *ngIf="date_selection_type == 'after'">
										<div class="form-group row px-2">
											<label for="start_date" class="col-sm-7 col-form-label col-form-label pr-0">
												Rechercher à partir de :
											</label>
											<div class="col-sm-4">
												<input type="number" name="start_date"
													class="form-control form-control-sm" min="{{dateExtremum[0]}}" max="{{dateExtremum[1]}}"
													placeholder="----" (change)="isDateValid()" formControlName="start_date">
											</div>
										</div>
									</ng-container>
									<ng-container *ngIf="date_selection_type == 'between'">
										<div class="form-group">
											<label for="start_date" class="col-sm-7 col-form-label col-form-label px-2">
												Rechercher entre :
											</label>
											<div class="row pl-3">
												<div class="col-sm-4">
													<input type="number" name="start_date"
														class="form-control form-control-sm" min="{{dateExtremum[0]}}" max="{{dateExtremum[1]}}"
														placeholder="----" (change)="isDateValid()" formControlName="start_date">
												</div>
												<label for="stop_date"
													class="col-sm-2 col-form-label col-form-label pr-0">
													et
												</label>
												<div class="col-sm-4">
													<input type="number" name="stop_date"
														class="form-control form-control-sm" min="{{dateExtremum[0]}}" max="{{dateExtremum[1]}}"
														placeholder="----" (change)="isDateValid()" formControlName="stop_date">
												</div>

											</div>
										</div>
									</ng-container>
								</div>

							</div>
						</div>
					</div>
				</div>

				<!-- Zone geo query -->
				<div class="accordion" id="queryZoneGeo">
					<div class="card">
						<div class="card-header py-0" id="headingZoneGeo">
							<h2 class="mb-0 px-1 row justify-content-between">
								<button id="buttonCollapseZoneGeo" class="col-md-auto btn btn-accordion" type="button" data-toggle="collapse"
									data-target="#collapseZoneGeo" aria-expanded="true" aria-controls="collapseZoneGeo" (click)="clickRequestType($event)">
									Par zone géographique
								</button>
								<span class="col-2 py-2" style="font-size:15px">
									<fa-icon [icon]="angleIcon" size='lg' transform='rotate-{{faIconRotationCollapsed.buttonCollapseZoneGeo}}'></fa-icon>
								</span>
							</h2>
						</div>
						<div id="collapseZoneGeo" class="collapse" aria-labelledby="headingZoneGeo"
							data-parent="#queryZoneGeo">
							<div class="card-body py-1 px-2">
								<div class="row justify-content-between align-items-center py-1">
									<small class="col-8 pr-0 text-muted">Vous pouvez effectuer une recherche à partir du
										zone géographique rectangulaire.</small>
									<div class="col-2 p-0">
										<button type="button" class="btn btn-sm"
											[ngClass]="{'btn-outline-secondary': bbox.length > 0, 'btn-secondary': bbox.length == 0}"
											[disabled]="bbox.length > 0" title="Faire une sélection"
											(click)="makeRectangleSelection()">
											<fa-icon [icon]="squareIcon"></fa-icon>
										</button>
									</div>
									<div class="col-2 p-0">
										<button type="button" class="btn btn-sm"
											[ngClass]="{'btn-outline-secondary': bbox.length == 0, 'btn-secondary': bbox.length > 0}"
											[disabled]="bbox.length == 0" title="Effacer la sélection"
											(click)="removeRectangleSelection()">
											<fa-icon [icon]="eraserIcon"></fa-icon>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>


			</form>

		</div>


		<div class="card-footer px-0" *ngIf="queryService.initDataloaded">
			<div class="mr-0 ml-5">
				<button type="submit" class="btn"
					[ngClass]="{'btn-outline-secondary': btnSubmitDisable, 'btn-secondary': !btnSubmitDisable}"
					[disabled]="btnSubmitDisable" (click)="makeQuery()">
					Lancer la recherche
				</button>

				<span class="spinner-border spinner-border-sm text-secondary ml-2"
					[ngStyle]="{'visibility': loading ? 'visible' : 'hidden' }" data-dismiss="alert"></span>
			</div>

			<small class="form-text pt-1 px-3" style="color: #942900; font-weight: bold;">
				{{ errorRequest }}
			</small>

		</div>
		

	</div>

</ng-container>