<ng-container>

    <div class="card h-100">
        <div class="card-body h-110 p-0">

            <ng-container *ngFor="let collection of mapService.collectionsList; let j = index">

                <div class="accordion" id="{{collection.name}}">
                    <div class="card">
                        <div class="card-header p-0" id="heading{{collection.name}}">
                            <h2 class="mb-0 row ml-2 mr-1 justify-content-between">
                                <div class="col-1 custom-control custom-checkbox layerNom my-2">
                                    <input type="checkbox" class="custom-control-input"
                                        (change)="changeBackGroundCollection($event, collection)" 
                                        [checked]="collection.allVisible" id="checkbox_collection{{collection.name}}">
                                    <label class="custom-control-label inline" for="checkbox_collection{{collection.name}}">
                                    </label>
                                </div>
                                <!-- <div class="col-8 px-0"> -->
                                    <button id="buttonCollapse{{collection.name}}" class="col-9 pr-1 pl-0 btn btn-accordion-coll" type="button" data-toggle="collapse"
                                        [attr.data-target]="'#collapse'+collection.name" aria-expanded="true"
                                        [attr.aria-controls]="'collapse'+collection.name" (click)="clickCollection($event)">
                                        {{mapService.changeCaract(collection.name)}}
                                    </button>
                                <!-- </div> -->
                                <span class="col-1 py-2 px-0" style="font-size:15px">
									<fa-icon [icon]="angleIcon" size='lg' transform="rotate-{{faIconRotationCollapsed['buttonCollapse' + collection.name]}}"></fa-icon>
								</span>

                            </h2>
                        </div>
                        <div id="collapse{{collection.name}}" class="collapse" [attr.aria-labelledby]="'heading'+collection.name"
                            [attr.data-parent]="'#'+collection.name">

                            <div class="card-body py-1 px-2">


                                <ng-container *ngFor="let background of mapService.backgroundList; let j = index">
                                    <ng-container *ngIf="collection.name == mapService.backgroundInfo[background.name].groupname">

                                        <ul class="list-group" id="background-list">

                                            <li
                                                class="list-group-item layer-item justify-content-between pl-0 py-2 border-0">

                                                <ng-container>
                                                    <div class="col-10 custom-control custom-checkbox layerNom">
                                                        <input type="checkbox" class="custom-control-input"
                                                            [(ngModel)]="background.visible"
                                                            (change)="changeBackground(background)"
                                                            [checked]="background.visible"
                                                            id="background{{j}}">
                                                        <label class="custom-control-label inline"
                                                            for="background{{j}}">
                                                            <span title="{{background.name}}"> {{ mapService.changeCaract(background.name) }} </span>
                                                        </label>
                                                        <div class="form-field col-8">
                                                            <input type="range" class="form-control-range"
                                                                [value]="background.opacity" min="0" max="100"
                                                                [disabled]="!background.visible"
                                                                (change)="changeOpacity(background,$event)"
                                                                id="slider{{j}}" />

                                                        </div>
                                                    </div>
                                                </ng-container>

                                            </li>

                                        </ul>

                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>