<div class="container">
    <div class="jumbotron">

        <div class="container text-center">
            <h1 class="text-uppercase text-black font-weight-bold">Le projet CAIRMOD</h1>

        </div>

        <hr class="my-4">

        <div class="container text-justify my-4">
            <h3>Géo-visualisation de contenus de la Perséide Athar : le cas du Caire moderne</h3>

            <p>
                Projet lauréat de la première vague d’appel CollEx-Persée, <a
                    href="https://invisu.cnrs.fr/project/geo-visualisation-de-contenus-de-la-perseide-athar-le-cas-du-caire-moderne/">CAIRMOD</a>
                vise à mettre à disposition sur la
                perséide Athar un corpus iconographique constitué de 5 albums portant sur le Caire moderne.
                Leur consultation s’appuiera sur une structuration fine, enrichie par un référentiel toponymique
                multilingue, le Modern cairo Gazetteer, géré avec <a
                    href="https://opentheso.huma-num.fr/opentheso/">OpenTheso</a> et hébergé par Huma-num.
                Ce référentiel permettra d’interroger le corpus via les noms de lieu représentés. Il constituera
                également le pivot vers un système d’information géographique (SIG) qui permettra une géo-visualisation
                des vues rassemblées dans ce corpus ainsi que des métadonnées contenues dans la Perséide.
                Ce SIG, hébergé par Huma-Num et disponible en ligne, intégrera la dimension historique afin de rendre
                compte du renouvellement urbain dans le temps de la ville.
            </p>
            <p>
                L’expérimentation se fonde sur un corpus visuel concernant Le Caire, mais l’outil a vocation à être
                déployé, à terme, sur un volume plus large de documents visuels ou sur d’autres lieux.
                Toutes les données seront structurées de manière à être réutilisables.
            </p>

            <div id="images">
                <div class="row justify-content-center mt-3">
                    <img src="assets/photo_information.jpg" alt="Détails Album Karkégi BNF" width="40%">
                </div>
                <div class="row justify-content-center">
                    <p class="text-muted small">Détails de l'album Karkégi - Bibliothèque Nationale de France</p>
                </div>
            </div>

            <p>
                Grâce à son partenariat avec l'<a href="http://www.ensg.eu">Ecole Nationale des Sciences
                    Géographiques</a> (ENSG) a donné naissance à trois sous-projets étudiant :
            </p>

            <div class="container">
                <h5>Web service CAIRMOD</h5>

                <p>
                    Il a été développée en 2019 par sept étudiants de la filière Technologies des Systèmes d'Information
                    (TSI) de la promotion 2018-2019 puis améliorée par Didier Richard, co-responsable de la filière et
                    responsable du Département des Enseignements d'Informatique de l'<a
                        href="http://www.ensg.eu">ENSG</a>.
                    Ce service permet d'accèder à un thésaurus sous OpenTheso et fournit quelques méthodes pour requêter
                    la
                    copie locale du RDF-XML pour fabriquer des objets géographiques sous format GeoJSON.
                </p>
            </div>

            <div class="container">
                <h5>CairmodQGIS : plugin QGIS</h5>

                <p>
                    Une première version du plugin QGIS a été developpée en 2019 par la promotion TSI 2018-2019, puis
                    mise à
                    jour en 2020 par quatre élèves Ingénieurs de l'ENSG dans le cadre de leur projet Développement de
                    2ème
                    année.
                    Ce plugin implémente un module de recherche historique sur la ville du Caire Moderne. Par le biais
                    de
                    plusieurs critères, l'utilisateur peut requêter des objets du Caire Moderne, les représenter
                    spatialement dans le SIG QGIS et visualiser leurs informations, notamment les images du cursus
                    iconographique associé.
                </p>
            </div>

            <div class="container">
                <h5>CairmodWeb : web-application</h5>

                <p>
                    La première version de l'application web a été développée par quatre élèves de la filière TSI
                    promotion
                    2019-2020.
                    Elle permet d'interroger un module de requêtes similaire au plugin QGIS CairmodQGIS mais aussi de
                    comparer des cartes historiques dispensées via un serveur cartographique.
                </p>
            </div>
        </div>

        <hr class="my-4">

        <div class="container">
            <h3>Contacts</h3>

            <div class="row justify-content-between">

                <div class="col-md-auto">
                    <h5>Adresse</h5>
                    <p>
                        Institut National d'Histoire de l'Art<br>
                        2 rue Vivienne<br>
                        75 002 Paris
                    </p>
                </div>

                <div class="col-md-auto">
                    <h5>Mails</h5>
                    <p>
                        <a href="mailto: usr3103@inha.fr"> usr3103@inha.fr (administration)</a>
                    </p>
                    <p>
                        <a href="mailto: communication.invisu@inha.fr"> communication.invisu@inha.fr (site)</a>
                    </p>
                </div>

                <div class="col-md-auto">
                    <h5>Téléphone</h5>
                    <p>
                        01 47 03 89 00
                    </p>
                </div>
            </div>

        </div>


    </div>

</div>

<cairmodweb-footer></cairmodweb-footer>