

<div class="map-container"  id="printable">
    <div id="map-comparison"></div>
</div>


    <kendo-dialog title="" *ngIf="pickMapsWindowOpened" >
        <div class="dialog-window-content">
        <p style="text-align: center;">Choix des cartes à comparer 
        
        </p>
        <div class="text-large" *ngIf="mapService.collectionLoaded && (!leftLayerName || !rightLayerName)"> Choisir deux couches</div>
       <div class="alert-warning text-large" *ngIf="leftLayerName && rightLayerName && leftLayerName == rightLayerName "> Les deux couches sont les mêmes.</div>
       <div class="alert-warning text-large" *ngIf="!overlapsedMaps"> Les couches n'ont pas la même emprise.</div>
       <div class="text-large" *ngIf="!(mapService.collectionLoaded && (!leftLayerName || !rightLayerName)) 
                    && !(leftLayerName && rightLayerName && leftLayerName == rightLayerName) 
                    && overlapsedMaps"><br></div>
       
        <div class="dialogtableContainer" *ngIf="mapService.collectionLoaded">
            
            <table class="table">
                
                <thead>
                  <tr>
                    <th scope="col">Couche de gauche</th>
                    <th scope="col">Couche de droite</th>
    
                  </tr></thead>
                  <tr><td class="columDialogTable p-0" > 
            
            <ng-container *ngFor="let namegroup of mapService.groupNames; let j = index">

            <div class="accordion" id="{{namegroup + 'left'}}">
                <div class="card">
                    <div class="card-header p-0" id="heading{{namegroup + 'left'}}">
                        <h2 class="mb-0">
                            <button class="btn btn-accordion" type="button" data-toggle="collapse"
                                [attr.data-target]="'#collapse'+namegroup+ 'left'" aria-expanded="true"
                                [attr.aria-controls]="'collapse'+namegroup+ 'left'">
                                {{mapService.changeCaract(namegroup)}}
                            </button>
                        </h2>
                    </div>
                    <div id="collapse{{namegroup + 'left'}}" class="collapse" [attr.aria-labelledby]="'heading'+namegroup"
                        [attr.data-parent]="'#'+namegroup+ 'left'">
                        <div class="card-body py-1 px-2">
                            <ng-container *ngFor="let name of mapService.backgroundNames; let j = index">
                                <ng-container *ngIf="namegroup == mapService.backgroundInfo[name].groupname">

                                    <ul class="list-group" id="background-list-left">

                                        <li
                                            class="list-group-item layer-item justify-content-between pl-0 py-2 border-0">
                                            <ng-container>
                                                <div class="col-10 custom-control custom-checkbox layerNom">
                                                    <input type="checkbox" class="custom-control-input"
                                                    [checked]="name==leftLayerName"
                                                            id="background_left{{j}}" (change)="changeMap('left',name)">
                                    
                                                    <label class="custom-control-label inline"
                                                        for="background_left{{j}}">
                                                        <span title="{{name}}"> {{ mapService.changeCaract(name) }} </span>
                                                    </label>
                                                   
                                                </div>
                                            </ng-container>

                                        </li>

                                    </ul>

                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container></td><td class="columDialogTable p-0">



            <ng-container *ngFor="let namegroup of mapService.groupNames; let j = index">

                <div class="accordion" id="{{namegroup + 'right'}}">
                    <div class="card">
                        <div class="card-header p-0" id="heading{{namegroup + 'right'}}">
                            <h2 class="mb-0">
                                <button class="btn btn-accordion" type="button" data-toggle="collapse"
                                    [attr.data-target]="'#collapse'+namegroup+ 'right'" aria-expanded="true"
                                    [attr.aria-controls]="'collapse'+namegroup+ 'right'">
                                    {{mapService.changeCaract(namegroup)}}
                                </button>
                            </h2>
                        </div>
                        <div id="collapse{{namegroup + 'right'}}" class="collapse" [attr.aria-labelledby]="'heading'+namegroup"
                            [attr.data-parent]="'#'+namegroup+ 'right'">
                            <div class="card-body py-1 px-2">
                                <ng-container *ngFor="let name of mapService.backgroundNames; let j = index">
                                    <ng-container *ngIf="namegroup == mapService.backgroundInfo[name].groupname">
    
                                        <ul class="list-group" id="background-list-right">
    
                                            <li
                                                class="list-group-item layer-item justify-content-between pl-0 py-2 border-0">
                                                <ng-container>
                                                    <div class="col-10 custom-control custom-checkbox layerNom">
                                                        <input type="checkbox" class="custom-control-input"
                                                        [checked]="name==rightLayerName"
                                                                id="background_right{{j}}" (change)="changeMap('right',name)">
                                        
                                                        <label class="custom-control-label inline"
                                                            for="background_right{{j}}">
                                                            <span title="{{name}}"> {{ mapService.changeCaract(name) }} </span>
                                                        </label>
                                                       
                                                    </div>
                                                </ng-container>
    
                                            </li>
    
                                        </ul>
    
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </td></tr></table>
        
       </div>

    <div *ngIf="!mapService.collectionLoaded"> Chargement des cartes :           <span class="spinner-border spinner-border-sm text-secondary ml-2" data-dismiss="alert"></span>
    </div>
    </div>
        <kendo-dialog-actions>
            <button kendoButton *ngIf="controlSideBySide" (click)="close('cancel')">Annuler</button>
            <button kendoButton *ngIf="!controlSideBySide" (click)="close('no')">Retour à l'accueil</button>
            <button kendoButton (click)="close('yes')" [disabled]="!leftLayerName || !rightLayerName">Comparer</button>
        </kendo-dialog-actions>
    </kendo-dialog>
