.map-container {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100% - 60px);
}

.dialog-window-content {
    height: 60vh;
    width: 80vw;
    
}

.dialogtableContainer{
    height: calc(100% - 50px);
    overflow-x: none;
    overflow-y: scroll;

}

.columDialogTable{
    width: 49%;
}

#map-comparison {
    height: 100%;
}

.text-large {
    font-size: 130%;
  }