.btn-feature {
  text-align: left;
}

.btn {
  pointer-events: auto
}

.fa-draw-polygon {
  transform: rotate(-90deg);
}

.btn-selected:hover {
  background-color: var(--cairmod-color) !important;
  border-color: var(--cairmod-color) !important;
}

.btn-selected {
  background-color:var(--cairmod-color) !important;
  border-color:var(--cairmod-color) !important;
}

.btn-panel-switcher {
  width: 50px;
  height: 50px;
  color: #fff !important;
  background-color:var(--cairmod-color); /* #27bbd8; */
  border-color: var(--cairmod-color); /* #27bbd8; */
  font-size: 20px;
  padding-top: 10px;
  border-radius: 0px;
}

.btn-panel-switcher:hover {
  background-color: var(--cairmod-color); /* #00A0BE; */
  border-color: var(--cairmod-color); /* #00A0BE; */
  box-shadow: 2px 2px 2px 2px lightgray;
}
  
/* panneau masquable */

.card-header {
  background-color: #fff;
  border-bottom: var(--cairmod-color) 4px solid;
}

.card-body {
  height: 350px;
}

#panel-switcher-wrapper {
  margin-right: -300px;
  pointer-events: auto;
  right: 0px;
  width: 297px;
  top: 0vw;
  position: fixed;
  bottom: 0px;
  overflow-y: auto;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
  -moz-transition: all 0.5s ease-in 0s;
  -ms-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  overflow-x: hidden;
  margin-top: 100px;
  margin-bottom: 25px;
}

#panel-switcher-wrapper.active {
  right: 304px;
  width: 297px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
}
  
.panel-switcher-opts {
  right: 0px;
  position: fixed;
  z-index: 1000;
  top: 160px;
  transition: all 0.5s ease-in 0s;
  -webkit-transition: all 0.5s ease-in 0s;
  -moz-transition: all 0.5s ease-in 0s;
  -ms-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
}

.panel-switcher-nav {
  position: absolute;
  top: 0;
  width: 300px;
  list-style: none;
  margin: 0;
  padding: 0;
}
  
.panel-switcher-nav li {
  line-height: 50px;
  text-indent: 20px;
}
  
.panel-switcher-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}
  
.panel-switcher-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}
  
.panel-switcher-nav li a:active, .panel-switcher-nav li a:focus {
  text-decoration: none;
}

.panel-switcher-opts.active {
  right: 300px;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
}
  
.toggle {
  margin: 1px 5px 0 0;
  /* line-height: .5;*/
}


.card {
  border-radius: 0rem;
  border: 0px;
}

.card-body {
  padding: 1.25rem 0 1.25rem 0.5rem;
  overflow-y: auto; 
  width: 100%;
  height: calc(100% - 51px)
}

.modal-lg {
  max-width: 800px;
}

.resultLayer {
  margin-top: 0.5rem;
  max-height: 380px;
  overflow-y: auto;
  border-radius: 0.2em;
  border: 1px solid rgba(0,0,0,.125);
}

.nested {
  display: none;
}
.down {
  transform: rotate(90deg);
}
.listStyle .active {
  display: block;
}

.listStyle{
  list-style-type: none;
}

.resultLayer>ul {
  list-style-type: none;
}


.layerNom {
  overflow: hidden;
  padding-right: 0;
  padding-left: 1.75rem;
  white-space: nowrap
}


.layer-item {
  display: flex;
  padding-right: 0.15rem;
}

#dropdownMenuLink::after {
  display: none;
}
