<!-- Les boutons de sélection du panel -->
<table class="panel-switcher-opts">
  <tbody>
    <tr data-offset="0, -15px" data-placement="right" data-toggle="tooltip" title="Show panel">
      <td>
        <a id="edition-btn" (click)="setPanelToShow('Edition')" class="btn btn-panel-switcher toggle"
          [class.btn-selected]="panelToShow == 'Edition'">
          
          <fa-icon [icon]="panelIcon"></fa-icon>
        </a>
      </td>
    </tr>
  </tbody>
</table>


<!-- Le Panel -->
<div class="card" id="panel-switcher-wrapper">
  <div class="card-header">
    <nav>
      <div class="nav nav-tabs h-100" id="nav-tab-panels" role="tablist">
        <a class="nav-item nav-link active" id="nav-query-module-tab" data-toggle="tab" href="#nav-query-module" role="tab"
          aria-controls="nav-query-module" aria-selected="true">Requête</a>
        <a class="nav-item nav-link" id="nav-layers-tab" data-toggle="tab" href="#nav-layers" role="tab"
          aria-controls="nav-layers" aria-selected="false">Résultats</a>
        <a class="nav-item nav-link" id="nav-background-map-tab" data-toggle="tab" href="#nav-background-map" role="tab"
          aria-controls="nav-background-map" aria-selected="false">Fonds</a>
      </div>
    </nav>
  </div>
  <div class="card-body p-0">
        
    <div class="tab-content m-0 p-0 h-100" id="nav-tabContent">
      <div class="tab-pane fade show active h-100" id="nav-query-module" role="tabpanel" aria-labelledby="nav-query-module-tab">
        <cairmodweb-query-module *ngIf="panelToShow == 'Edition'"></cairmodweb-query-module>
      </div>
      <div class="tab-pane fade" id="nav-layers" role="tabpanel" aria-labelledby="nav-layers-tab">
        <cairmodweb-layers *ngIf="panelToShow == 'Edition'"></cairmodweb-layers>
      </div>
      <div class="tab-pane fade" id="nav-background-map" role="tabpanel" aria-labelledby="nav-background-map-tab">
        <cairmodweb-backgrounds *ngIf="panelToShow == 'Edition'"></cairmodweb-backgrounds>
      </div>
    </div>

  </div>

</div>
