
<div class="map-container"  id="printable">
    
    <div id="map"></div>
    
</div>



<div class="example-wrapper">

    <kendo-dialog title="" *ngIf="this.exportService.exportWindowOpened" [minWidth]="250" [width]="450">
        
        <!-- Title -->
        <p class="export-header">Export de la carte en PDF</p>

        <!-- Choosing the format -->
        <fieldset class="form-group">
            <div class="row">
            <legend class="col-form-label col-sm-3 pt-0 font-weight-bold">Format</legend>
            <div class="col-sm-9">
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="l" name="type" value="l" (change)="this.exportService.choseType('l')" [checked]="this.exportService.exportType === 'l'">
                    <label class="form-check-label" for="l">Paysage</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="p" name="type" value="p" (change)="this.exportService.choseType('p')" [checked]="this.exportService.exportType === 'p'">
                    <label class="form-check-label" for="gridRadios2">Portrait</label>
                </div>
            </div>
            </div>
        </fieldset>

        <!-- Include raster maps -->
        <div class="form-group row">
            <div class="col-sm-3 font-weight-bold">Plans</div>
            <div class="col-sm-9">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" (change)="this.exportService.choseBackground()">
                    <label class="form-check-label">Exporter les plans</label>
                    <p class="mb-0 " style="font-size: 12px; color: #942900;"
                    [ngStyle]="{'visibility': this.exportService.exportBackground ? 'visible' : 'hidden'}">La transparence des plans n'est pas prise en compte.</p>
                </div>
            </div>
        </div>

        <!-- Setting the title -->
        <div class="form-group row">
            <label class="col-sm-3 col-form-label font-weight-bold">Titre</label>
            <div class="col-sm-9">
                <!--<input type="text" class="form-control form-control-sm" placeholder="Titre..." [(ngModel)]="this.exportService.mapTitle">-->
                <textarea class="form-control form-control-sm" rows="3" placeholder="Entrer un titre !" [(ngModel)]="this.exportService.mapTitle" required></textarea>
            </div>
        </div>

        <!-- Buttons -->
        <kendo-dialog-actions>
            <button kendoButton (click)="this.exportService.closeExportpdf('no')" [disabled] ="this.exportService.loading">Annuler</button>
            <button kendoButton (click)="this.exportService.closeExportpdf('yes')" [disabled] ="this.exportService.loading || this.exportService.mapTitle === ''">Exporter
                <span class="spinner-border spinner-border-sm text-secondary ml-2"
                [ngStyle]="{'visibility': this.exportService.loading ? 'visible' : 'hidden' }" data-dismiss="alert"></span>
            </button>
        </kendo-dialog-actions>

    </kendo-dialog>
</div>






<kendo-dialog title="" *ngIf="this.exportService.exportCsvAlertOpened" [minWidth]="250" [maxWidth]="450">
    <p style="text-align: center;">Export de la carte en csv</p>
    <p>Voulez-vous exporter en format csv la couche {{this.exportService.layerToExport.name}} ? </p>

    <div class="alert-warning">Le délimiteur du csv est un point-virgule.</div>
    <div class="alert-warning">Veillez à utiliser un tableur interprétant les caractères arabes lors de la lecture du fichier.</div>
    <kendo-dialog-actions>
        <button kendoButton (click)="this.exportService.closeExportcsv('no')">Annuler</button>
        <button kendoButton (click)="this.exportService.closeExportcsv('yes')">Exporter</button>
    </kendo-dialog-actions>
</kendo-dialog>


<!-- Le panneau avec les filtres et fonctionnalités -->
<cairmodweb-panels-switcher class="d-none d-md-block"></cairmodweb-panels-switcher>