.map-container {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100% - 60px);
}

#map {
    height: 100%;
}

.export-header {
    text-align: center ; 
    padding: 15px 0 ; 
    background-color:var(--cairmod-color);
    color: white ; 
    font-size: 20px ; 
}