<footer id="footer" class="top-space black">

    <div class="container-footer">
        <div class="row justify-content-center">

            <figure class="col-md-auto">
                <a href="https://www.cnrs.fr/">
                    <img src="http://www.cnrs.fr/themes/custom/cnrs/logo.svg" alt="CNRS" align="center" height="50em">
                </a>
            </figure>
            <figure class="col-md-auto">
                <a href="https://invisu.cnrs.fr/">
                    <img src="http://invisu.cnrs.fr/wp-content/uploads/2019/06/InVisu_logo_2019_bloc-1.png" align="center"
                        alt="InVisu" height="50em">
                </a>
            </figure>
            <figure class="col-md-auto">
                <a href="https://www.collexpersee.eu/">
                    <img src="https://www.collexpersee.eu/wp-content/uploads/2020/01/logo-collex-signature-noir-768x245.png"
                        alt="Collex-Persee" align="center" height="50em">
                </a>
            </figure>
            <figure class="col-md-auto">
                <a href="http://info.persee.fr/">
                    <img src="https://www.persee.fr/static/persee.png" align="center" alt="Persée"
                        height="50em">
                </a>
            </figure>
            <figure class="col-md-auto">
                <a href="https://www.ifao.egnet.net/">
                    <img src="https://upload.wikimedia.org/wikipedia/fr/b/b4/Logo-IFAO.png" align="center"
                        alt="IFAO" height="50em">
                </a>
            </figure>
            <figure class="col-md-auto">
                <a href="http://www.ensg.eu">
                    <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/9/9e/Logo_ENSG_Géomatique_2012.svg/1100px-Logo_ENSG_Géomatique_2012.svg.png" align="center" alt="ENSG"
                        height="50em">
                </a>
            </figure>


        </div> <!-- /row of widgets -->
    </div>

</footer>