
/**************  CSS DU FOOTER  ***********************/
#footer{
    /* width : 99%; */
}

.container-footer {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-right: 15px;
    padding-left: 15px;
    /* padding-bottom: 15px; */
    margin-right: auto;
    margin-left: auto;
}