<nav class="navbar navbar-expand-lg navbar-light sticky-top p-0" style="background-color: #C0C0C0;">
  <a class=navbar-brand>
    <img src="favicon.ico" class="logo_navbar px-2">
  </a>
  <button class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon small"></span>
  </button>
  <div class="collapse navbar-collapse"
    id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link"
        routerLink="#"
        routerLinkActive="active"
        id="home-nav-item">Accueil</a>
      <a class="nav-item nav-link"
        routerLink="/visualisation"
        routerLinkActive="active"
        id="map-nav-item">Visualiser</a>
        <a class="nav-item nav-link"
        routerLink="/comparaison"
        routerLinkActive="active"
        id="comp-nav-item">Comparer</a>
      <a class="nav-item nav-link"
        routerLink="/information"
        routerLinkActive="active"
        id="info-nav-item">S'informer</a>
        
    </div>
  </div>
  <span class="navbar-text nom-projet pr-3">
    CairmodWeb
  </span>
</nav>