.logo_navbar {
    height: 50px;
    width: auto;
}

.nom-projet {
    color: var(--cairmod-color);
    font-weight: bold;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}