<ng-container>
    <div class="card-body">
        <ul class="list-group" id="layer-list">
            <ng-container *ngFor="let layer of mapService.queryLayers; let i = index">

                <li class="list-group-item layer-item justify-content-between pl-0 py-2.1 border-0">
                    
                    <ng-container>
                        <div class="col-10 custom-control custom-checkbox layerNom">
                            <input type="checkbox" class="custom-control-input" id="layer{{i}}"
                            [checked]="layer.visible" (change)="onChange($event,layer)">
                            <label class="custom-control-label inline" for="layer{{i}}">
                            <span title="{{layer.name}}"> <fa-icon [icon]="legendIcon" [ngStyle]="{color:layer.style.fillColor}"></fa-icon>  {{ layer.name }} </span>
                            </label>
                        </div>
                    </ng-container>

                    <div class="col-1 layerOptions dropdown">
                        <button class="btn btn-sm p-0 mx-0 dropdown-toggle" type="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Options de la couche">
                            <fa-icon [icon]="menuIcon" style="color: #6c757d"></fa-icon>
                        </button>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <button class="dropdown-item" (click)="exportService.downloadCSV(layer)">
                                Export CSV
                            </button>
                            <button class="dropdown-item" (click)="mapService.removeLayer(layer)">
                                Supprimer
                            </button>
                        </div>

                    </div>

                </li>


            </ng-container>
        </ul>
    </div>
</ng-container>