.card {
    border-radius: 0rem;
    border: 0px;
}

.card-body {
    padding: 1.25rem 0 1.25rem 0.5rem;
    overflow-y: auto; 
    width: 100%;
    height: calc(100% - 51px)
}

.modal-lg {
    max-width: 800px;
}

.resultLayer {
    margin-top: 0.5rem;
    max-height: 380px;
    overflow-y: auto;
    border-radius: 0.2em;
    border: 1px solid rgba(0,0,0,.125);
}

.nested {
    display: none;
}
.down {
    transform: rotate(90deg);
}
.listStyle .active {
    display: block;
}

.listStyle{
    list-style-type: none;
}

.resultLayer>ul {
    list-style-type: none;
}

#nomCouche {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.layerNom {
    overflow: hidden;
    padding-right: 0;
    padding-left: 1.75rem;
    white-space: nowrap
}

.layerOptions {
    padding-right: 0;
    padding-left: 0;
    white-space: nowrap
}


#layerManagementFooter {
    bottom: 0px;
    height: 51px;
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

#layerManagementFooter:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

.layer-item {
    display: flex;
    padding-right: 0.15rem;
}

#dropdownLayerButton::after, #dropdownFondOSMButton::after {
    display: none;
}



.nav-tabs .nav-link {
    color: #495057;
}

.nav-tabs .nav-link.active {
    color: orangered;
}

a {
    text-decoration: none;
}

.list-group {
    min-height: 150px;
}